<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test">
    <classes>
      <class name="testcases.LoginTest"/>
      <class name="testcases.MainBookstoreTest"/>
      <class name="testcases.ManageBookTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
